<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/admin/owners/create">
            <span data-feather="user-plus"></span>
            Create Owner
        </a>
    </li>
</ul>